node_modules/
dist/package*.json
dist/
.env
*.log
*.__pycache__/
*.pyc
*.db
.aimen/
.astro/

.claude
.agent
.codebuddy
.codex
.continue
.cursor
.gemini
.kiro
.opencode
.qoder
.roo
.trae
.windsurf
plans